<header class="header">
  <!-- Bouton hamburger -->
  <button class="menu-button" (click)="toggleSidenav()">
    <div></div>
    <div></div>
    <div></div>
  </button>
  
  <!-- Logo -->
  <div class="header-title">
    <div class="logo">
      SIMSOFT & SIMSOFT <span>WARE</span>
    </div>
    <div class="vertical-line"></div>
  </div>
  
  <!-- Barre de recherche -->
  <div class="search-bar">
    <input type="text" placeholder="Rechercher">
    <i class="fas fa-search"></i> 
  </div>
  
  <!-- Actions à droite -->
  <div class="actions">
    <div class="notification-wrapper">
      <!-- Icône de notification qui déclenche l'ouverture du menu -->
      <i class="fas fa-bell notification-icon" (click)="onNotificationClick()"></i>    
    </div>
    <button class="action-item" (click)="logout()">{{ userInitials }}</button>
  </div>
</header>
